body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}
body,html{
    height: 100%;
    width: 100%;
}
.bg-primary {
    background-color: $primary-colour;
}
.bg-dark {
    background-color: $dark;
    color: white;
}
.no-padding {
    padding: 0;
}
hr.wide {
    margin: 2em 0;
    max-width: 400px;
    margin: 3em auto;
}
hr.light {
    border-color: white;
}
// Bootstrap Overrides
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}


